<div class="home">
  <div data-controller="autodesk-viewer">
    <script src='https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/viewer3D.min.js'></script>
    <button type="button" data-action="click->autodesk-viewer#display" data-autodesk-viewer-target="displayBtn">Display</button>
    <button type="button" data-action="click->autodesk-viewer#hide" data-autodesk-viewer-target="hideBtn">Hide</button>
    <div data-autodesk-viewer-target="viewerDiv"></div>
  </div>
</div>
