<div class="home">
  <div data-controller="autodesk-viewer">
    <script src='https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/viewer3D.min.js'></script>
    <div data-autodesk-viewer-target="viewerDiv"></div>
  </div>
</div>
