<div class="home">
  <div data-controller="autodesk-viewer">
    <link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/style.min.css" type="text/css">
    <script src='https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/viewer3D.min.js'></script>
    <button type="button" data-action="click->autodesk-viewer#display" data-autodesk-viewer-target="displayBtn">Display</button>
    <button type="button" data-action="click->autodesk-viewer#hide" data-autodesk-viewer-target="hideBtn">Hide</button>
    <div class="autodesk-viewer" data-autodesk-viewer-target="viewerDiv" ></div>
  </div>
</div>
