RAILS_ENV=development
POSTGRES_HOST=db
POSTGRES_DB=knewhub_development
POSTGRES_USER=database_user
POSTGRES_PASSWORD=database_password
RAILS_MASTER_KEY=content of config/credentials/development.key or else depending on RAILS_ENV
WEB_URL=http://localhost:3000
WEBHOOK_SECRET=secret
WEBHOOK_HOST_URL=....ngrok-free.app
GITHUB_APP_ID=app_id
GITHUB_APP_SECRET=app_secret