---
http_interactions:
- request:
    method: post
    uri: https://developer.api.autodesk.com/authentication/v2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=viewables%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<AUTODESK_ACCESS_TOKEN>","token_type":"Bearer","expires_in":3599}

        '
  recorded_at: Mon, 11 Mar 2024 17:50:56 GMT
- request:
    method: get
    uri: https://developer.api.autodesk.com/derivativeservice/v2/manifest/dXJuOmFkc2sub2JqZWN0czpvcy5vYmplY3Q6a25ld2h1Yl8zZF9maWxlcy9yZXBvcyUyRmF1dGhvciUyRnJlcG9fb3duZXIlMkZyZXBvX25hbWUlMkYzZC1maWxlJTJGbmlzdF9jdGNfMDFfYXNtZTFfcmQuc3Rw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTODESK_ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ads-Duration:
      - 3021 ms
      X-Ads-Exception-Id:
      - 9714cff1-2b43-42f3-9ec7-1807cce63f86
      X-Ads-Startup-Time:
      - Tue Mar 05 02:45:29 UTC 2024
      X-Ads-App-Identifier:
      - platform-viewing-2024.01.01.536.2e6ea962a-production
      X-Ads-Troubleshooting:
      - The manifest is not found for this urn.
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 11 Mar 2024 17:50:59 GMT