---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jp524/markdown-templates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c6734fdb311d62fe6ff5b53fa912d47a238d25e6d8c9c177d81184627285b2c"
      Last-Modified:
      - Tue, 25 Jul 2023 15:00:29 GMT
      X-Oauth-Scopes:
      - admin:repo_hook, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2023-11-04 13:22:43 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1694098637'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":656764501,"node_id":"R_kgDOJyVuVQ","name":"markdown-templates","full_name":"jp524/markdown-templates","private":false,"owner":{"login":"jp524","id":85654561,"node_id":"MDQ6VXNlcjg1NjU0NTYx","avatar_url":"https://avatars.githubusercontent.com/u/85654561?v=4","gravatar_id":"","url":"https://api.github.com/users/jp524","html_url":"https://github.com/jp524","followers_url":"https://api.github.com/users/jp524/followers","following_url":"https://api.github.com/users/jp524/following{/other_user}","gists_url":"https://api.github.com/users/jp524/gists{/gist_id}","starred_url":"https://api.github.com/users/jp524/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jp524/subscriptions","organizations_url":"https://api.github.com/users/jp524/orgs","repos_url":"https://api.github.com/users/jp524/repos","events_url":"https://api.github.com/users/jp524/events{/privacy}","received_events_url":"https://api.github.com/users/jp524/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jp524/markdown-templates","description":"Files
        templates for testing","fork":false,"url":"https://api.github.com/repos/jp524/markdown-templates","forks_url":"https://api.github.com/repos/jp524/markdown-templates/forks","keys_url":"https://api.github.com/repos/jp524/markdown-templates/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jp524/markdown-templates/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jp524/markdown-templates/teams","hooks_url":"https://api.github.com/repos/jp524/markdown-templates/hooks","issue_events_url":"https://api.github.com/repos/jp524/markdown-templates/issues/events{/number}","events_url":"https://api.github.com/repos/jp524/markdown-templates/events","assignees_url":"https://api.github.com/repos/jp524/markdown-templates/assignees{/user}","branches_url":"https://api.github.com/repos/jp524/markdown-templates/branches{/branch}","tags_url":"https://api.github.com/repos/jp524/markdown-templates/tags","blobs_url":"https://api.github.com/repos/jp524/markdown-templates/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jp524/markdown-templates/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jp524/markdown-templates/git/refs{/sha}","trees_url":"https://api.github.com/repos/jp524/markdown-templates/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jp524/markdown-templates/statuses/{sha}","languages_url":"https://api.github.com/repos/jp524/markdown-templates/languages","stargazers_url":"https://api.github.com/repos/jp524/markdown-templates/stargazers","contributors_url":"https://api.github.com/repos/jp524/markdown-templates/contributors","subscribers_url":"https://api.github.com/repos/jp524/markdown-templates/subscribers","subscription_url":"https://api.github.com/repos/jp524/markdown-templates/subscription","commits_url":"https://api.github.com/repos/jp524/markdown-templates/commits{/sha}","git_commits_url":"https://api.github.com/repos/jp524/markdown-templates/git/commits{/sha}","comments_url":"https://api.github.com/repos/jp524/markdown-templates/comments{/number}","issue_comment_url":"https://api.github.com/repos/jp524/markdown-templates/issues/comments{/number}","contents_url":"https://api.github.com/repos/jp524/markdown-templates/contents/{+path}","compare_url":"https://api.github.com/repos/jp524/markdown-templates/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jp524/markdown-templates/merges","archive_url":"https://api.github.com/repos/jp524/markdown-templates/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jp524/markdown-templates/downloads","issues_url":"https://api.github.com/repos/jp524/markdown-templates/issues{/number}","pulls_url":"https://api.github.com/repos/jp524/markdown-templates/pulls{/number}","milestones_url":"https://api.github.com/repos/jp524/markdown-templates/milestones{/number}","notifications_url":"https://api.github.com/repos/jp524/markdown-templates/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jp524/markdown-templates/labels{/name}","releases_url":"https://api.github.com/repos/jp524/markdown-templates/releases{/id}","deployments_url":"https://api.github.com/repos/jp524/markdown-templates/deployments","created_at":"2023-06-21T15:33:10Z","updated_at":"2023-07-25T15:00:29Z","pushed_at":"2023-07-25T19:01:12Z","git_url":"git://github.com/jp524/markdown-templates.git","ssh_url":"git@github.com:jp524/markdown-templates.git","clone_url":"https://github.com/jp524/markdown-templates.git","svn_url":"https://github.com/jp524/markdown-templates","homepage":"","size":1227,"stargazers_count":0,"watchers_count":0,"language":"C","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","security_and_analysis":{"secret_scanning":{"status":"disabled"},"secret_scanning_push_protection":{"status":"disabled"},"dependabot_security_updates":{"status":"disabled"}},"network_count":0,"subscribers_count":1}'
  recorded_at: Thu, 07 Sep 2023 14:37:11 GMT
recorded_with: VCR 6.2.0
