---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/jp524/test-repo/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","config":{"url":"https://bf6f-207-61-7-7.ngrok-free.app/webhooks/github/5ff9f391-a52a-460f-90c1-750c63a806e8","content_type":"json","secret":"<SECRET>"},"events":["push"],"active":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"593e745e4fc969179fa037952e487f612ff0d7df1d7a4cae846d2dbfd2384561"'
      X-Oauth-Scopes:
      - admin:repo_hook, repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, repo, write:repo_hook
      Github-Authentication-Token-Expiration:
      - 2023-11-04 13:22:43 UTC
      Location:
      - https://api.github.com/repos/jp524/test-repo/hooks/432275383
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1694009296'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"type":"Repository","id":432275383,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://bf6f-207-61-7-7.ngrok-free.app/webhooks/github/5ff9f391-a52a-460f-90c1-750c63a806e8"},"updated_at":"2023-09-06T13:08:16Z","created_at":"2023-09-06T13:08:16Z","url":"https://api.github.com/repos/jp524/test-repo/hooks/432275383","test_url":"https://api.github.com/repos/jp524/test-repo/hooks/432275383/test","ping_url":"https://api.github.com/repos/jp524/test-repo/hooks/432275383/pings","deliveries_url":"https://api.github.com/repos/jp524/test-repo/hooks/432275383/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Wed, 06 Sep 2023 13:08:16 GMT
- request:
    method: post
    uri: https://api.github.com/repos/jp524/test-repo/hooks/432275383/tests
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Oauth-Scopes:
      - admin:repo_hook, repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, repo, write:repo_hook
      Github-Authentication-Token-Expiration:
      - 2023-11-04 13:22:43 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1694009296'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 06 Sep 2023 13:08:17 GMT
recorded_with: VCR 6.2.0
