---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/jp524/test-repo/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","config":{"url":"https://7f08-207-61-7-7.ngrok-free.app/webhooks/github/42b189e0-5d63-4529-b863-198a9c259669","content_type":"json","secret":"<SECRET>"},"events":["push"],"active":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1b868605d4c9f42bde16482cf3c5e9e22bbeff21ff56b24049dee03c6edc8de1"'
      X-Oauth-Scopes:
      - admin:repo_hook, repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, repo, write:repo_hook
      Github-Authentication-Token-Expiration:
      - 2023-11-04 13:22:43 UTC
      Location:
      - https://api.github.com/repos/jp524/test-repo/hooks/436588649
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1696437646'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"type":"Repository","id":436588649,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://7f08-207-61-7-7.ngrok-free.app/webhooks/github/42b189e0-5d63-4529-b863-198a9c259669"},"updated_at":"2023-10-04T15:42:14Z","created_at":"2023-10-04T15:42:14Z","url":"https://api.github.com/repos/jp524/test-repo/hooks/436588649","test_url":"https://api.github.com/repos/jp524/test-repo/hooks/436588649/test","ping_url":"https://api.github.com/repos/jp524/test-repo/hooks/436588649/pings","deliveries_url":"https://api.github.com/repos/jp524/test-repo/hooks/436588649/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Wed, 04 Oct 2023 15:42:14 GMT
- request:
    method: get
    uri: https://api.github.com/repos/jp524/test-repo/hooks/436588649
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b868605d4c9f42bde16482cf3c5e9e22bbeff21ff56b24049dee03c6edc8de1"
      Last-Modified:
      - Wed, 04 Oct 2023 15:42:14 GMT
      X-Oauth-Scopes:
      - admin:repo_hook, repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, read:repo_hook, repo, write:repo_hook
      Github-Authentication-Token-Expiration:
      - 2023-11-04 13:22:43 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1696437646'
      X-Ratelimit-Used:
      - '5'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"type":"Repository","id":436588649,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://7f08-207-61-7-7.ngrok-free.app/webhooks/github/42b189e0-5d63-4529-b863-198a9c259669"},"updated_at":"2023-10-04T15:42:14Z","created_at":"2023-10-04T15:42:14Z","url":"https://api.github.com/repos/jp524/test-repo/hooks/436588649","test_url":"https://api.github.com/repos/jp524/test-repo/hooks/436588649/test","ping_url":"https://api.github.com/repos/jp524/test-repo/hooks/436588649/pings","deliveries_url":"https://api.github.com/repos/jp524/test-repo/hooks/436588649/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Wed, 04 Oct 2023 15:42:14 GMT
recorded_with: VCR 6.2.0
