---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/jp524/test-repo/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","config":{"url":"https://fb01-66-23-61-49.ngrok-free.app/webhooks/github/a2ae97bb-3f3b-43cd-b649-339734a860e8","content_type":"json","secret":"<SECRET>"},"events":["push"],"active":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6aa6f67ef5a829e02b8e98620a05bc92598a3d4c37053a3c1430918881b4e73f"'
      X-Oauth-Scopes:
      - admin:repo_hook, repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, repo, write:repo_hook
      Github-Authentication-Token-Expiration:
      - 2023-11-04 13:22:43 UTC
      Location:
      - https://api.github.com/repos/jp524/test-repo/hooks/432293614
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1694017865'
      X-Ratelimit-Used:
      - '10'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"type":"Repository","id":432293614,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://fb01-66-23-61-49.ngrok-free.app/webhooks/github/a2ae97bb-3f3b-43cd-b649-339734a860e8"},"updated_at":"2023-09-06T15:44:10Z","created_at":"2023-09-06T15:44:10Z","url":"https://api.github.com/repos/jp524/test-repo/hooks/432293614","test_url":"https://api.github.com/repos/jp524/test-repo/hooks/432293614/test","ping_url":"https://api.github.com/repos/jp524/test-repo/hooks/432293614/pings","deliveries_url":"https://api.github.com/repos/jp524/test-repo/hooks/432293614/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Wed, 06 Sep 2023 15:44:11 GMT
- request:
    method: get
    uri: https://api.github.com/repos/jp524/test-repo/hooks/432293614
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6aa6f67ef5a829e02b8e98620a05bc92598a3d4c37053a3c1430918881b4e73f"
      Last-Modified:
      - Wed, 06 Sep 2023 15:44:10 GMT
      X-Oauth-Scopes:
      - admin:repo_hook, repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, read:repo_hook, repo, write:repo_hook
      Github-Authentication-Token-Expiration:
      - 2023-11-04 13:22:43 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1694017865'
      X-Ratelimit-Used:
      - '11'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"type":"Repository","id":432293614,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://fb01-66-23-61-49.ngrok-free.app/webhooks/github/a2ae97bb-3f3b-43cd-b649-339734a860e8"},"updated_at":"2023-09-06T15:44:10Z","created_at":"2023-09-06T15:44:10Z","url":"https://api.github.com/repos/jp524/test-repo/hooks/432293614","test_url":"https://api.github.com/repos/jp524/test-repo/hooks/432293614/test","ping_url":"https://api.github.com/repos/jp524/test-repo/hooks/432293614/pings","deliveries_url":"https://api.github.com/repos/jp524/test-repo/hooks/432293614/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Wed, 06 Sep 2023 15:44:11 GMT
recorded_with: VCR 6.2.0
