---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/jp524/test-repo/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","config":{"url":"https://7f08-207-61-7-7.ngrok-free.app/webhooks/github/42b189e0-5d63-4529-b863-198a9c259669","content_type":"json","secret":"<SECRET>"},"events":["push"],"active":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3849ff787d06125881a3436af962dc2e3ff2c195af9523193effb4e7f7f628ad"'
      X-Oauth-Scopes:
      - admin:repo_hook, repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, repo, write:repo_hook
      Github-Authentication-Token-Expiration:
      - 2023-11-04 13:22:43 UTC
      Location:
      - https://api.github.com/repos/jp524/test-repo/hooks/436611979
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1696448385'
      X-Ratelimit-Used:
      - '8'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"type":"Repository","id":436611979,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://7f08-207-61-7-7.ngrok-free.app/webhooks/github/42b189e0-5d63-4529-b863-198a9c259669"},"updated_at":"2023-10-04T18:59:04Z","created_at":"2023-10-04T18:59:04Z","url":"https://api.github.com/repos/jp524/test-repo/hooks/436611979","test_url":"https://api.github.com/repos/jp524/test-repo/hooks/436611979/test","ping_url":"https://api.github.com/repos/jp524/test-repo/hooks/436611979/pings","deliveries_url":"https://api.github.com/repos/jp524/test-repo/hooks/436611979/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Wed, 04 Oct 2023 18:59:05 GMT
- request:
    method: get
    uri: https://api.github.com/repos/jp524/test-repo/hooks/436611979
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e790439226bfa3777ca98ca76bcd4cab12062f0251b7d90999357acac5865e88"
      Last-Modified:
      - Wed, 04 Oct 2023 18:59:04 GMT
      X-Oauth-Scopes:
      - admin:repo_hook, repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, read:repo_hook, repo, write:repo_hook
      Github-Authentication-Token-Expiration:
      - 2023-11-04 13:22:43 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1696448385'
      X-Ratelimit-Used:
      - '9'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"type":"Repository","id":436611979,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://7f08-207-61-7-7.ngrok-free.app/webhooks/github/42b189e0-5d63-4529-b863-198a9c259669"},"updated_at":"2023-10-04T18:59:04Z","created_at":"2023-10-04T18:59:04Z","url":"https://api.github.com/repos/jp524/test-repo/hooks/436611979","test_url":"https://api.github.com/repos/jp524/test-repo/hooks/436611979/test","ping_url":"https://api.github.com/repos/jp524/test-repo/hooks/436611979/pings","deliveries_url":"https://api.github.com/repos/jp524/test-repo/hooks/436611979/deliveries","last_response":{"code":200,"status":"active","message":"OK"}}'
  recorded_at: Wed, 04 Oct 2023 18:59:15 GMT
- request:
    method: get
    uri: https://api.github.com/repos/jp524/test-repo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"62002bf64261904fb21ef0c516adc62417ee561d52f44b42f6af37ee612b22c9"
      Last-Modified:
      - Thu, 27 Jul 2023 17:48:11 GMT
      X-Oauth-Scopes:
      - admin:repo_hook, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2023-11-04 13:22:43 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1696448385'
      X-Ratelimit-Used:
      - '10'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":663068537,"node_id":"R_kgDOJ4WfeQ","name":"test-repo","full_name":"jp524/test-repo","private":true,"owner":{"login":"jp524","id":85654561,"node_id":"MDQ6VXNlcjg1NjU0NTYx","avatar_url":"https://avatars.githubusercontent.com/u/85654561?v=4","gravatar_id":"","url":"https://api.github.com/users/jp524","html_url":"https://github.com/jp524","followers_url":"https://api.github.com/users/jp524/followers","following_url":"https://api.github.com/users/jp524/following{/other_user}","gists_url":"https://api.github.com/users/jp524/gists{/gist_id}","starred_url":"https://api.github.com/users/jp524/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jp524/subscriptions","organizations_url":"https://api.github.com/users/jp524/orgs","repos_url":"https://api.github.com/users/jp524/repos","events_url":"https://api.github.com/users/jp524/events{/privacy}","received_events_url":"https://api.github.com/users/jp524/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jp524/test-repo","description":"Some
        test repo","fork":false,"url":"https://api.github.com/repos/jp524/test-repo","forks_url":"https://api.github.com/repos/jp524/test-repo/forks","keys_url":"https://api.github.com/repos/jp524/test-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jp524/test-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jp524/test-repo/teams","hooks_url":"https://api.github.com/repos/jp524/test-repo/hooks","issue_events_url":"https://api.github.com/repos/jp524/test-repo/issues/events{/number}","events_url":"https://api.github.com/repos/jp524/test-repo/events","assignees_url":"https://api.github.com/repos/jp524/test-repo/assignees{/user}","branches_url":"https://api.github.com/repos/jp524/test-repo/branches{/branch}","tags_url":"https://api.github.com/repos/jp524/test-repo/tags","blobs_url":"https://api.github.com/repos/jp524/test-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jp524/test-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jp524/test-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/jp524/test-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jp524/test-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/jp524/test-repo/languages","stargazers_url":"https://api.github.com/repos/jp524/test-repo/stargazers","contributors_url":"https://api.github.com/repos/jp524/test-repo/contributors","subscribers_url":"https://api.github.com/repos/jp524/test-repo/subscribers","subscription_url":"https://api.github.com/repos/jp524/test-repo/subscription","commits_url":"https://api.github.com/repos/jp524/test-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/jp524/test-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/jp524/test-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/jp524/test-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/jp524/test-repo/contents/{+path}","compare_url":"https://api.github.com/repos/jp524/test-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jp524/test-repo/merges","archive_url":"https://api.github.com/repos/jp524/test-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jp524/test-repo/downloads","issues_url":"https://api.github.com/repos/jp524/test-repo/issues{/number}","pulls_url":"https://api.github.com/repos/jp524/test-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/jp524/test-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/jp524/test-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jp524/test-repo/labels{/name}","releases_url":"https://api.github.com/repos/jp524/test-repo/releases{/id}","deployments_url":"https://api.github.com/repos/jp524/test-repo/deployments","created_at":"2023-07-06T13:37:07Z","updated_at":"2023-07-27T17:48:11Z","pushed_at":"2023-09-27T14:36:50Z","git_url":"git://github.com/jp524/test-repo.git","ssh_url":"git@github.com:jp524/test-repo.git","clone_url":"https://github.com/jp524/test-repo.git","svn_url":"https://github.com/jp524/test-repo","homepage":"","size":13,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"AUNPYIJUBPV6Q4FAFKBPFSLFDW3TA","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","network_count":0,"subscribers_count":1}'
  recorded_at: Wed, 04 Oct 2023 18:59:16 GMT
recorded_with: VCR 6.2.0
