---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/jp524/test-repo/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","config":{"url":"<HOST_URL>/webhooks/github","content_type":"json","secret":"<SECRET>"},"events":["push"],"active":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <INSTALLATION_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cb915f602e146519eeb1807006bc6f87f43a38f7db34ec73da7df3c9ab1ead65"'
      Location:
      - https://api.github.com/repos/jp524/test-repo/hooks/460918034
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - repository_hooks=write
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1707941191'
      X-Ratelimit-Used:
      - '23'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"type":"Repository","id":460918034,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"<HOST_URL>/webhooks/github"},"updated_at":"2024-02-14T19:20:25Z","created_at":"2024-02-14T19:20:25Z","url":"https://api.github.com/repos/jp524/test-repo/hooks/460918034","test_url":"https://api.github.com/repos/jp524/test-repo/hooks/460918034/test","ping_url":"https://api.github.com/repos/jp524/test-repo/hooks/460918034/pings","deliveries_url":"https://api.github.com/repos/jp524/test-repo/hooks/460918034/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Wed, 14 Feb 2024 19:20:25 GMT
recorded_with: VCR 6.2.0
