---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/jp524/test-repo/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","config":{"url":"https://9dcf-207-61-7-7.ngrok-free.app/webhooks/github/c3a3bf52-f983-4b1a-847a-be921fa97914","content_type":"json","secret":"<SECRET>"},"events":["push"],"active":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5971a654176447c0ca7935647c0d99609c4f32848f1e55b8add041d81b50f7c9"'
      X-Oauth-Scopes:
      - admin:repo_hook, repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, repo, write:repo_hook
      Github-Authentication-Token-Expiration:
      - 2023-11-04 13:22:43 UTC
      Location:
      - https://api.github.com/repos/jp524/test-repo/hooks/432467274
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1694112292'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"type":"Repository","id":432467274,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://9dcf-207-61-7-7.ngrok-free.app/webhooks/github/c3a3bf52-f983-4b1a-847a-be921fa97914"},"updated_at":"2023-09-07T17:45:50Z","created_at":"2023-09-07T17:45:50Z","url":"https://api.github.com/repos/jp524/test-repo/hooks/432467274","test_url":"https://api.github.com/repos/jp524/test-repo/hooks/432467274/test","ping_url":"https://api.github.com/repos/jp524/test-repo/hooks/432467274/pings","deliveries_url":"https://api.github.com/repos/jp524/test-repo/hooks/432467274/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Thu, 07 Sep 2023 17:45:50 GMT
- request:
    method: get
    uri: https://api.github.com/repos/jp524/test-repo/hooks/432467274
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5971a654176447c0ca7935647c0d99609c4f32848f1e55b8add041d81b50f7c9"
      Last-Modified:
      - Thu, 07 Sep 2023 17:45:50 GMT
      X-Oauth-Scopes:
      - admin:repo_hook, repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, read:repo_hook, repo, write:repo_hook
      Github-Authentication-Token-Expiration:
      - 2023-11-04 13:22:43 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1694112292'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"type":"Repository","id":432467274,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://9dcf-207-61-7-7.ngrok-free.app/webhooks/github/c3a3bf52-f983-4b1a-847a-be921fa97914"},"updated_at":"2023-09-07T17:45:50Z","created_at":"2023-09-07T17:45:50Z","url":"https://api.github.com/repos/jp524/test-repo/hooks/432467274","test_url":"https://api.github.com/repos/jp524/test-repo/hooks/432467274/test","ping_url":"https://api.github.com/repos/jp524/test-repo/hooks/432467274/pings","deliveries_url":"https://api.github.com/repos/jp524/test-repo/hooks/432467274/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Thu, 07 Sep 2023 17:45:50 GMT
recorded_with: VCR 6.2.0
