---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/jp524/markdown-templates/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","config":{"url":"https://bf6f-207-61-7-7.ngrok-free.app/webhooks/github/11f446f0-d60d-4b6c-a0bd-0e5c9bc8d22e","content_type":"json","secret":"<SECRET>"},"events":["push"],"active":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"033ec9ef3301bd1dfc15b9ef9fb2866fbd293adc142652b01b53c6ed9770ce36"'
      X-Oauth-Scopes:
      - admin:repo_hook, repo
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, repo, write:repo_hook
      Github-Authentication-Token-Expiration:
      - 2023-08-12 17:32:53 UTC
      Location:
      - https://api.github.com/repos/jp524/markdown-templates/hooks/426649279
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1690814458'
      X-Ratelimit-Used:
      - '7'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"type":"Repository","id":426649279,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"https://bf6f-207-61-7-7.ngrok-free.app/webhooks/github/11f446f0-d60d-4b6c-a0bd-0e5c9bc8d22e"},"updated_at":"2023-07-31T13:59:00Z","created_at":"2023-07-31T13:59:00Z","url":"https://api.github.com/repos/jp524/markdown-templates/hooks/426649279","test_url":"https://api.github.com/repos/jp524/markdown-templates/hooks/426649279/test","ping_url":"https://api.github.com/repos/jp524/markdown-templates/hooks/426649279/pings","deliveries_url":"https://api.github.com/repos/jp524/markdown-templates/hooks/426649279/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Mon, 31 Jul 2023 13:59:01 GMT
recorded_with: VCR 6.2.0
