---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/47087696/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8ddb1ac63d7b9a2c292cf3372ee4bfd7775258f8fafd9e92d39ac576016c26a1"'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
    body:
      encoding: UTF-8
      string: '{"token":"<INSTALLATION_ACCESS_TOKEN>","expires_at":"2024-02-12T19:39:48Z","permissions":{"contents":"read","metadata":"read","repository_hooks":"write"},"repository_selection":"selected"}'
  recorded_at: Mon, 12 Feb 2024 18:39:48 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/jp524/test-repo/hooks/460475619
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <INSTALLATION_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - repository_hooks=write
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1707766478'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 12 Feb 2024 18:39:48 GMT
recorded_with: VCR 6.2.0
