---
http_interactions:
- request:
    method: post
    uri: https://developer.api.autodesk.com/authentication/v2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=data%3Aread+data%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <BASIC>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "developerMessage":"The client_id specified does not have access
        to the api product", "moreInfo": "https://forge.autodesk.com/en/docs/oauth/v2/developers_guide/error_handling/",
        "errorCode": "AUTH-001"}'
  recorded_at: Thu, 07 Mar 2024 14:03:09 GMT
recorded_with: VCR 6.2.0
