---
http_interactions:
- request:
    method: post
    uri: https://developer.api.autodesk.com/authentication/v2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=data%3Aread+data%3Awrite+bucket%3Acreate
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <AUTODESK_BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<AUTODESK_ACCESS_TOKEN>","token_type":"Bearer","expires_in":3599}

        '
  recorded_at: Wed, 06 Mar 2024 13:58:33 GMT
recorded_with: VCR 6.2.0
