---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/installation/repositories?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <INSTALLATION_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c7cb5c48e5ec78ae3a1ee4a702448580c6c886d413b72c235402b0d37c353c1"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1708008444'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":3,"repository_selection":"selected","repositories":[{"id":656764501,"node_id":"R_kgDOJyVuVQ","name":"markdown-templates","full_name":"jp524/markdown-templates","private":false,"owner":{"login":"jp524","id":85654561,"node_id":"MDQ6VXNlcjg1NjU0NTYx","avatar_url":"https://avatars.githubusercontent.com/u/85654561?v=4","gravatar_id":"","url":"https://api.github.com/users/jp524","html_url":"https://github.com/jp524","followers_url":"https://api.github.com/users/jp524/followers","following_url":"https://api.github.com/users/jp524/following{/other_user}","gists_url":"https://api.github.com/users/jp524/gists{/gist_id}","starred_url":"https://api.github.com/users/jp524/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jp524/subscriptions","organizations_url":"https://api.github.com/users/jp524/orgs","repos_url":"https://api.github.com/users/jp524/repos","events_url":"https://api.github.com/users/jp524/events{/privacy}","received_events_url":"https://api.github.com/users/jp524/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jp524/markdown-templates","description":"Files
        templates for testing","fork":false,"url":"https://api.github.com/repos/jp524/markdown-templates","forks_url":"https://api.github.com/repos/jp524/markdown-templates/forks","keys_url":"https://api.github.com/repos/jp524/markdown-templates/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jp524/markdown-templates/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jp524/markdown-templates/teams","hooks_url":"https://api.github.com/repos/jp524/markdown-templates/hooks","issue_events_url":"https://api.github.com/repos/jp524/markdown-templates/issues/events{/number}","events_url":"https://api.github.com/repos/jp524/markdown-templates/events","assignees_url":"https://api.github.com/repos/jp524/markdown-templates/assignees{/user}","branches_url":"https://api.github.com/repos/jp524/markdown-templates/branches{/branch}","tags_url":"https://api.github.com/repos/jp524/markdown-templates/tags","blobs_url":"https://api.github.com/repos/jp524/markdown-templates/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jp524/markdown-templates/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jp524/markdown-templates/git/refs{/sha}","trees_url":"https://api.github.com/repos/jp524/markdown-templates/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jp524/markdown-templates/statuses/{sha}","languages_url":"https://api.github.com/repos/jp524/markdown-templates/languages","stargazers_url":"https://api.github.com/repos/jp524/markdown-templates/stargazers","contributors_url":"https://api.github.com/repos/jp524/markdown-templates/contributors","subscribers_url":"https://api.github.com/repos/jp524/markdown-templates/subscribers","subscription_url":"https://api.github.com/repos/jp524/markdown-templates/subscription","commits_url":"https://api.github.com/repos/jp524/markdown-templates/commits{/sha}","git_commits_url":"https://api.github.com/repos/jp524/markdown-templates/git/commits{/sha}","comments_url":"https://api.github.com/repos/jp524/markdown-templates/comments{/number}","issue_comment_url":"https://api.github.com/repos/jp524/markdown-templates/issues/comments{/number}","contents_url":"https://api.github.com/repos/jp524/markdown-templates/contents/{+path}","compare_url":"https://api.github.com/repos/jp524/markdown-templates/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jp524/markdown-templates/merges","archive_url":"https://api.github.com/repos/jp524/markdown-templates/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jp524/markdown-templates/downloads","issues_url":"https://api.github.com/repos/jp524/markdown-templates/issues{/number}","pulls_url":"https://api.github.com/repos/jp524/markdown-templates/pulls{/number}","milestones_url":"https://api.github.com/repos/jp524/markdown-templates/milestones{/number}","notifications_url":"https://api.github.com/repos/jp524/markdown-templates/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jp524/markdown-templates/labels{/name}","releases_url":"https://api.github.com/repos/jp524/markdown-templates/releases{/id}","deployments_url":"https://api.github.com/repos/jp524/markdown-templates/deployments","created_at":"2023-06-21T15:33:10Z","updated_at":"2023-07-25T15:00:29Z","pushed_at":"2024-02-12T19:17:29Z","git_url":"git://github.com/jp524/markdown-templates.git","ssh_url":"git@github.com:jp524/markdown-templates.git","clone_url":"https://github.com/jp524/markdown-templates.git","svn_url":"https://github.com/jp524/markdown-templates","homepage":"","size":1231,"stargazers_count":0,"watchers_count":0,"language":"C","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false}},{"id":663068537,"node_id":"R_kgDOJ4WfeQ","name":"test-repo","full_name":"jp524/test-repo","private":true,"owner":{"login":"jp524","id":85654561,"node_id":"MDQ6VXNlcjg1NjU0NTYx","avatar_url":"https://avatars.githubusercontent.com/u/85654561?v=4","gravatar_id":"","url":"https://api.github.com/users/jp524","html_url":"https://github.com/jp524","followers_url":"https://api.github.com/users/jp524/followers","following_url":"https://api.github.com/users/jp524/following{/other_user}","gists_url[...]
[...]
