---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/installation/repositories?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <INSTALLATION_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f7be331e7b4fe12338a74f0dc53f99917c657decf4d97d92a0b053daf51ebfa7"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1707421217'
      X-Ratelimit-Used:
      - '13'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"repository_selection":"selected","repositories":[{"id":663068537,"node_id":"R_kgDOJ4WfeQ","name":"test-repo","full_name":"jp524/test-repo","private":true,"owner":{"login":"jp524","id":85654561,"node_id":"MDQ6VXNlcjg1NjU0NTYx","avatar_url":"https://avatars.githubusercontent.com/u/85654561?v=4","gravatar_id":"","url":"https://api.github.com/users/jp524","html_url":"https://github.com/jp524","followers_url":"https://api.github.com/users/jp524/followers","following_url":"https://api.github.com/users/jp524/following{/other_user}","gists_url":"https://api.github.com/users/jp524/gists{/gist_id}","starred_url":"https://api.github.com/users/jp524/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jp524/subscriptions","organizations_url":"https://api.github.com/users/jp524/orgs","repos_url":"https://api.github.com/users/jp524/repos","events_url":"https://api.github.com/users/jp524/events{/privacy}","received_events_url":"https://api.github.com/users/jp524/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jp524/test-repo","description":"Some
        test repo","fork":false,"url":"https://api.github.com/repos/jp524/test-repo","forks_url":"https://api.github.com/repos/jp524/test-repo/forks","keys_url":"https://api.github.com/repos/jp524/test-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jp524/test-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jp524/test-repo/teams","hooks_url":"https://api.github.com/repos/jp524/test-repo/hooks","issue_events_url":"https://api.github.com/repos/jp524/test-repo/issues/events{/number}","events_url":"https://api.github.com/repos/jp524/test-repo/events","assignees_url":"https://api.github.com/repos/jp524/test-repo/assignees{/user}","branches_url":"https://api.github.com/repos/jp524/test-repo/branches{/branch}","tags_url":"https://api.github.com/repos/jp524/test-repo/tags","blobs_url":"https://api.github.com/repos/jp524/test-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jp524/test-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jp524/test-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/jp524/test-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jp524/test-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/jp524/test-repo/languages","stargazers_url":"https://api.github.com/repos/jp524/test-repo/stargazers","contributors_url":"https://api.github.com/repos/jp524/test-repo/contributors","subscribers_url":"https://api.github.com/repos/jp524/test-repo/subscribers","subscription_url":"https://api.github.com/repos/jp524/test-repo/subscription","commits_url":"https://api.github.com/repos/jp524/test-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/jp524/test-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/jp524/test-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/jp524/test-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/jp524/test-repo/contents/{+path}","compare_url":"https://api.github.com/repos/jp524/test-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jp524/test-repo/merges","archive_url":"https://api.github.com/repos/jp524/test-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jp524/test-repo/downloads","issues_url":"https://api.github.com/repos/jp524/test-repo/issues{/number}","pulls_url":"https://api.github.com/repos/jp524/test-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/jp524/test-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/jp524/test-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jp524/test-repo/labels{/name}","releases_url":"https://api.github.com/repos/jp524/test-repo/releases{/id}","deployments_url":"https://api.github.com/repos/jp524/test-repo/deployments","created_at":"2023-07-06T13:37:07Z","updated_at":"2023-07-27T17:48:11Z","pushed_at":"2023-10-22T12:00:20Z","git_url":"git://github.com/jp524/test-repo.git","ssh_url":"git@github.com:jp524/test-repo.git","clone_url":"https://github.com/jp524/test-repo.git","svn_url":"https://github.com/jp524/test-repo","homepage":"","size":14,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false}},{"id":696415885,"node_id":"R_kgDOKYJ2jQ","name":"book-programming-essential","full_name":"jp524/book-programming-essential","private":false,"owner":{"login":"jp524","id":85654561,"node_id":"MDQ6VXNlcjg1NjU0NTYx","avatar_url":"https://avatars.githubusercontent.com/u/85654561?v=4","gravatar_id":"","url":"https://api.github.com/users/jp524","html_url":"https://github.com/jp524","followers_url":"https://api.github.com/users/jp524/followers","following_url":"https://api.github.com/users/jp524[...]
