---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/47275538/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER>
      - gzip;q=1.0,deflate;q=0.6,identity;q=0.3
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"85d5390ea8614b3adb3119eedfd5e901d211463b5228b763a4e33b804d0ff10d"'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
    body:
      encoding: UTF-8
      string: '{"token":"<INSTALLATION_ACCESS_TOKEN>","expires_at":"2024-02-08T19:58:10Z","permissions":{"contents":"read","metadata":"read","repository_hooks":"write"},"repository_selection":"selected"}'
  recorded_at: Thu, 08 Feb 2024 18:58:10 GMT
recorded_with: VCR 6.2.0
