---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/app/installations/47087696/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1c64d8c09a17c352937bf0b4c952bb33cc2b6175ddef3dc7e1d1ebd5c8e51bf7"'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
    body:
      encoding: UTF-8
      string: '{"token":"<INSTALLATION_ACCESS_TOKEN>","expires_at":"2024-02-12T19:19:38Z","permissions":{"contents":"read","metadata":"read","repository_hooks":"write"},"repository_selection":"selected"}'
  recorded_at: Mon, 12 Feb 2024 18:19:38 GMT
- request:
    method: get
    uri: https://api.github.com/repos/jp524/test-repo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <INSTALLATION_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71f224248f676b92ff21a88fdbc2c62490400579f163b24324594e3072dceb03"
      Last-Modified:
      - Thu, 27 Jul 2023 17:48:11 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - metadata=read
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1707762837'
      X-Ratelimit-Used:
      - '11'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":663068537,"node_id":"R_kgDOJ4WfeQ","name":"test-repo","full_name":"jp524/test-repo","private":true,"owner":{"login":"jp524","id":85654561,"node_id":"MDQ6VXNlcjg1NjU0NTYx","avatar_url":"https://avatars.githubusercontent.com/u/85654561?v=4","gravatar_id":"","url":"https://api.github.com/users/jp524","html_url":"https://github.com/jp524","followers_url":"https://api.github.com/users/jp524/followers","following_url":"https://api.github.com/users/jp524/following{/other_user}","gists_url":"https://api.github.com/users/jp524/gists{/gist_id}","starred_url":"https://api.github.com/users/jp524/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jp524/subscriptions","organizations_url":"https://api.github.com/users/jp524/orgs","repos_url":"https://api.github.com/users/jp524/repos","events_url":"https://api.github.com/users/jp524/events{/privacy}","received_events_url":"https://api.github.com/users/jp524/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jp524/test-repo","description":"Some
        test repo","fork":false,"url":"https://api.github.com/repos/jp524/test-repo","forks_url":"https://api.github.com/repos/jp524/test-repo/forks","keys_url":"https://api.github.com/repos/jp524/test-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jp524/test-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jp524/test-repo/teams","hooks_url":"https://api.github.com/repos/jp524/test-repo/hooks","issue_events_url":"https://api.github.com/repos/jp524/test-repo/issues/events{/number}","events_url":"https://api.github.com/repos/jp524/test-repo/events","assignees_url":"https://api.github.com/repos/jp524/test-repo/assignees{/user}","branches_url":"https://api.github.com/repos/jp524/test-repo/branches{/branch}","tags_url":"https://api.github.com/repos/jp524/test-repo/tags","blobs_url":"https://api.github.com/repos/jp524/test-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jp524/test-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jp524/test-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/jp524/test-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jp524/test-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/jp524/test-repo/languages","stargazers_url":"https://api.github.com/repos/jp524/test-repo/stargazers","contributors_url":"https://api.github.com/repos/jp524/test-repo/contributors","subscribers_url":"https://api.github.com/repos/jp524/test-repo/subscribers","subscription_url":"https://api.github.com/repos/jp524/test-repo/subscription","commits_url":"https://api.github.com/repos/jp524/test-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/jp524/test-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/jp524/test-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/jp524/test-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/jp524/test-repo/contents/{+path}","compare_url":"https://api.github.com/repos/jp524/test-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jp524/test-repo/merges","archive_url":"https://api.github.com/repos/jp524/test-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jp524/test-repo/downloads","issues_url":"https://api.github.com/repos/jp524/test-repo/issues{/number}","pulls_url":"https://api.github.com/repos/jp524/test-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/jp524/test-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/jp524/test-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jp524/test-repo/labels{/name}","releases_url":"https://api.github.com/repos/jp524/test-repo/releases{/id}","deployments_url":"https://api.github.com/repos/jp524/test-repo/deployments","created_at":"2023-07-06T13:37:07Z","updated_at":"2023-07-27T17:48:11Z","pushed_at":"2023-10-22T12:00:20Z","git_url":"git://github.com/jp524/test-repo.git","ssh_url":"git@github.com:jp524/test-repo.git","clone_url":"https://github.com/jp524/test-repo.git","svn_url":"https://github.com/jp524/test-repo","homepage":"","size":14,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"BF7HCFSBCL6NWKP7IJCRG5LFZJRGNAVPNFXHG5DBNRWGC5DJN5XF62LEZYBM5ACQWFUW443UMFWGYYLUNFXW4X3UPFYGLN2JNZ2GKZ3SMF2GS33OJFXHG5DBNRWGC5DJN5XA","network_count":0,"subscribers_count":1}'
  recorded_at: Mon, 12 Feb 2024 18:19:38 GMT
recorded_with: VCR 6.2.0
