---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jp524/test-repo/hooks/460475619
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <INSTALLATION_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"94eee50a27312def8720151d483a8857faf9cbbfbc8657e675ca8953cc429242"
      Last-Modified:
      - Mon, 12 Feb 2024 18:36:58 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - repository_hooks=read
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1707766478'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"type":"Repository","id":460475619,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"<HOST_URL>/webhooks/github/397df2f0-489b-4d9a-8725-476ebee3b49b"},"updated_at":"2024-02-12T18:36:58Z","created_at":"2024-02-12T18:36:58Z","url":"https://api.github.com/repos/jp524/test-repo/hooks/460475619","test_url":"https://api.github.com/repos/jp524/test-repo/hooks/460475619/test","ping_url":"https://api.github.com/repos/jp524/test-repo/hooks/460475619/pings","deliveries_url":"https://api.github.com/repos/jp524/test-repo/hooks/460475619/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Mon, 12 Feb 2024 18:36:59 GMT
recorded_with: VCR 6.2.0
