---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jp524/test-repo/hooks/460918034
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <INSTALLATION_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ba27697de162af376be424cd146870214330b49db3afe0f1ecbead314ff43dad"
      Last-Modified:
      - Wed, 14 Feb 2024 19:20:25 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - repository_hooks=read
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1707941191'
      X-Ratelimit-Used:
      - '24'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"type":"Repository","id":460918034,"name":"web","active":true,"events":["push"],"config":{"content_type":"json","insecure_ssl":"0","secret":"********","url":"<HOST_URL>/webhooks/github"},"updated_at":"2024-02-14T19:20:25Z","created_at":"2024-02-14T19:20:25Z","url":"https://api.github.com/repos/jp524/test-repo/hooks/460918034","test_url":"https://api.github.com/repos/jp524/test-repo/hooks/460918034/test","ping_url":"https://api.github.com/repos/jp524/test-repo/hooks/460918034/pings","deliveries_url":"https://api.github.com/repos/jp524/test-repo/hooks/460918034/deliveries","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Wed, 14 Feb 2024 19:20:25 GMT
recorded_with: VCR 6.2.0
