<% content_for(:html_title) { 'Become an author - Settings' } %>

<div class="form-block">
  <h3>Share your knowledge by becoming an author on KNEWHUB.</h3>
  <p>You will be able to share content from your GitHub repositories after clicking the link below.</p>
  
  <%= link_to 'Link GitHub account',
              "https://github.com/apps/#{Rails.application.credentials.dig(:github, :app_name)}/installations/new",
              class: 'button' %>
</div>
