<li id="<%= dom_id(credential) %>" class="index-webauthn-credentials__item">
  <span><%= credential.nickname %></span>
  <%= button_to 'Delete', webauthn_credential_path(credential), method: :delete %>
</li>
