<div class="index-webauthn-credentials">
  <% content_for(:html_title) { 'Edit multi-factor authentication - Administrator' } %>

  <h2>Edit multi-factor authentication</h2>

  <div class="form-block">
    <div id="new_webauthn_credential">
      <%= render partial: "form", locals: {credential: WebauthnCredential.new, error: nil} %>
    </div>

    <hr/>

    <h6 class="index-webauthn-credentials__title">Existing credentials</h6>
    <ul id="webauthn_credentials">
      <%= render partial: "credential", collection: credentials %>
    </ul>
  </div>

  <%= link_to "Back to dashboard", dashboard_root_path %>
</div>
