<h1>New Multi-Factor Authentication</h1>

<%= form_with scope: :webauthn_credential, url: options_for_webauthn_credentials_path do |f| %>
  <div>
    <%= f.label :nickname, 'Multi-factor method nickname' %>
    <%= f.text_field :nickname, required: true, autofocus: true %>
  </div>

  <%= f.submit 'Add' %>
<% end %>