<%= turbo_frame_tag nested_dom_id(question, answer) do %>
  <div class="answer">
    <p><%= answer.body %></p>

    <div class="answer--footer">
      <p class="answer--footer--time"><%= time_ago_in_words(answer.created_at) %> ago</p>
      <% if answer.user == current_user %>
        <%= button_to answer_path(question.id, answer.id),
                      method: :delete,
                      form: { data: { turbo_confirm: 'Are you sure?' } } do %>
          <i class="fa-regular fa-trash-can" aria-hidden="true" title="Delete answer"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>