<% content_for(:html_title) { 'Answers' } %>

<h2>Question</h2>

<%= simple_format(@question.body) %>

<h2>Answers</h2>

<%= turbo_frame_tag nested_dom_id(@question, 'answers') do %>
  <% if @answers.empty? %>
    <p>No answers yet!</p>
  <% else %>
    <div><%= render @answers, question: @question %></div>
  <% end %>
<% end %>

<%= link_to 'Add answer', new_answer_path(@question.id) %>
