// collections

.collections
  &__content
    background-color: $color-initial
    padding: 2rem 4rem
    border-radius: 1rem

    img
      max-width: 50%
      height: auto
      display: block
      margin: 0 auto

      & + em
        display: block
        text-align: center

  &__anchor-link
    &__text
      color: $color-secondary

    &__icon
      display: none
      width: 1.4rem

    &:hover > &__icon
      display: inline

  & li > p:first-child
    // Ensures li::marker is in the same line as the first paragraph
    display: inline

  &__book-button
    padding: 2em
    display: flex
    justify-content: center
