// collections

.collections
  background-color: $color-initial
  padding: 2rem 4rem
  border-radius: 1rem

  &__anchor-link
    color: $color-secondary

    &:hover + svg
      display: inline
  
  svg
    display: none
    width: 1.4rem

  & a:not(&__anchor-link)
    color: $color-tertiary

  & li > p:first-child
    // Ensures li::marker is in the same line as the first paragraph
    display: inline 
