<% content_for(:html_title) { 'Available Repositories - Settings' } %>

<div class="form-block">
  <h2>Available Repositories</h2>

  <h5>
    <% github_app_name = ENV.fetch('GITHUB_APP_NAME', Rails.application.credentials.dig(:github, :app_name))%> 
    Choose from one of the repositories below. If the repository you want is not listed, check your
    <%= link_to 'GitHub settings', "https://github.com/apps/#{github_app_name}/installations/new", target: :_blank %>
    to verify that is can be accessed by KnewHub.
  </h5>

  <ul>
    <% if @available_repositories %>
      <% @available_repositories.each do |repository| %>
        <li>
            <%= repository[:full_name] %>
            <%= link_to 'Add repository',
                          new_settings_author_repository_path(full_name: repository[:full_name], uid: repository[:uid]),
                          class: 'button' %>
          </li>
      <% end %>
    <% else %>
      <p>No available repositories</p>
    <% end %>
  </ul>
</div>