<% content_for(:html_title) { 'New repository - Settings' } %>

<div class="form-block">
  <h1>New repository</h1>

  <%= render 'new_form', repository: @repository %>
  
  <%= link_to 'Back to repositories', settings_author_repositories_path %>
</div>
