// nav

.nav
  border-bottom: solid .1rem $color-quaternary

  &__inner
    width: calc(100% - 8rem)
    max-width: 118rem
    margin: 0 auto
    padding: 1.4rem 0
    display: grid
    grid-template-columns: 1fr auto
    column-gap: 2rem

  &__brand
    position: relative
    display: inline-flex
    width: auto
    height: 4rem
    justify-self: start

  &__logo
    width: auto
    min-width: 0
    height: 4rem
    object-fit: contain

    &--light
      display: none
      position: absolute
      inset: 0

  &__right
    justify-self: end
    display: flex
    gap: 3rem
    align-items: center

  & a
    font-weight: bold

  // Reset spacing set in Milligram/Spacing
  & form, button
    margin-bottom: 0
