<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @author.name %>!</p>
    
    <p>The following repository has been deleted from GitHub: <%= @repository.full_name %>.</p>

    <p>It will remain available on our platform at this time. Please log in into KnewHub to delete it if you wish.</p>

    <p><b>KnewHub</b></p>
  </body>
</html>
