<h3>Use a multi-factor authentication method to sign in as <%= @administrator.name %></h1>

<%= form_with(url: options_for_webauthn_authentication_path,
              data: {
                remote: true,
                turbo: false,
                controller: "webauthn--authenticate",
                "webauthn--authenticate-callback-value": webauthn_authentication_url,
                action: "ajax:success->webauthn--authenticate#auth ajax:error->webauthn--authenticate#error"}) do |f| %>

    <%= f.button "Authenticate" %>
<% end %>
