<nav>
  <% if current_author %>
    <%= current_author.github_username %>
    <%= button_to 'Sign out', github_logout_path, method: :delete, data: { turbo: false } %>
  <% else %>
    <%= button_to 'Login with GitHub', '/auth/github', data: { turbo: false } %>
  <% end %>
</nav>