<nav>
  <%= link_to 'KNEWHUB', root_path %>

  <% if current_user %>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo: false } %>
  <% else %>
    <%= link_to 'Login', new_user_session_path %>
  <% end %>
</nav>